.dogList {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}
.dogList_dark {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}